$backgroundColor: #2b2b2c;
$backgroundImage: no-repeat center url(../img/m-h-night.jpg) ;
$font-stack: 'Source Sans Pro', sans-serif;
$font-stack2: 'Fresca', sans-serif;;
$headerTextColor: white;
$buttonColor: #e1ab01;
$SectionCardHeadingColor: white;
$backgroundSectionCardColor: #21232E;
$textSectionCardColor: #C0C3CE;
$SectionBannerHeadingColor: white;
$mainTextSize: 0.8em;
$backgroundBanner: linear-gradient(to right, #dea703, #922d52);
$markerColor: #fd4d34;