$backgroundColor: white;
$backgroundImage: no-repeat center url(../img/m-h-day.jpg) ;
$font-stack: 'Source Sans Pro', sans-serif;
$font-stack2: 'Hind', sans-serif;
$headerTextColor: #2C2F3C;
$buttonColor: #699900;
$SectionCardHeadingColor: #21232E;
$backgroundSectionCardColor: #21232E;
$textSectionCardColor: #C0C3CE;
$SectionBannerHeadingColor: #21232E;
$mainTextSize: 0.8em;
$backgroundBanner: linear-gradient(to right, #65950c, #2d5ad8);
$markerColor: #149fc6;